@page "/Events/Create"

<div class="row mb-5">
    <div class="col-lg-8">
        <h1 class="mb-5">New Event</h1>

        <div class="row mb-3">
            <label class="col-md-4 col-form-label">Title</label>
            <div class="col-md-8">
                <input class="form-control" @bind="EventDtoData.Title">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-md-4 col-form-label">Start Date</label>
            <div class="col-md-8">
                <input type="datetime-local" class="form-control" @bind="EventDtoData.Start">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-md-4 col-form-label">End Date</label>
            <div class="col-md-8">
                <input type="datetime-local" class="form-control" @bind="EventDtoData.End">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-md-4 col-form-label">Description</label>
            <div class="col-md-8">
                <textarea class="form-control" @bind="EventDtoData.Description"></textarea>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-8 offset-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck1" @bind="EventDtoData.AllDay">
                    <label class="" for="gridCheck1">
                        All Day
                    </label>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="offset-md-4 col-md-4 d-grid">
                <button class="btn btn-primary" @onclick="SaveEvent">Save</button>
            </div>
            <div class="col-md-4 d-grid">
                <a class="btn btn-outline-primary" href="/Events">Cancel</a>
            </div>
        </div>
    </div>

</div>

@inject HttpClient http
@inject NavigationManager navManager

@code {
    public EventDto EventDtoData { set; get; } = new();

    private async Task SaveEvent()
    {
        var response = await http.PostAsJsonAsync("api/Events",EventDtoData);
        if (response.IsSuccessStatusCode)
        {
            //redirect to list of Events
            navManager.NavigateTo("/Events");
        }
        else
        {
            var strResponse = await response.Content.ReadAsStringAsync();
            Console.WriteLine("Json response: \n" + strResponse);
        }
    }
}
